*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open Sans", sans-serif;
}

/*nav*/



body{
    background-color: whitesmoke;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;

}

.card { 
    width: 300px;
    height: auto;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    align-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 35%, rgba(238,20,31,1) 100%); 
}

.card h2{
    text-align: center;
    position: relative;
    top: 10px;
}

.card p{
    text-align: center;
    position: relative;
    top: 15px;
}
.card img {
    position: relative;
    top: 10px;
}

.card button{
    background-color: red;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: larger;
    height: 40px;
    border-radius: 10px;
    align-self: center;
    position: relative;
    top: 20px;
}

#ordenar {
    background: linear-gradient(0deg, rgba(255,255,255,1) 50%, rgba(238,20,31,1) 50%); 
    color: black;
    font-weight: bolder;
    height: 40px;
    border-radius: 60px;
    align-self: center;
}

#pokeball img{
    height: 80px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 25px;
}

#pokeball2 img{
    height: 70px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 15px;
    left: 7px;
}


/*footer*/

.pie-pagina {
    background-image: url("https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&s=9ca8c75c63da9f8bb134e955d73e2770d073375e");
    min-width: max-content;
    padding-top: 20px;
}
.pie-pagina .grupo-1 {

    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

.pie-pagina .box{
    padding-left: 100px;
}
.pie-pagina .grupo-1 h2 {
    color: #ffd369;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 40px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #356933;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover {
    background-color: #dea806;
    transition: all 0.7ms;
}

.pie-pagina .grupo-1 figure img {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 p{
    color: #ffd369;
    font-size: 20px;
    
}
.pie-pagina .grupo-2 {
    background-color: #40993d;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
.pie-pagina small {
    font-size: 15px;
}

