@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

    :root {
        --clr-main: #4b33a8;
        --clr-main-light: #785ce9;
        --clr-white: #ececec;
        --clr-gray: #e2e2e2;
        --clr-red: #961818;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Rubik', sans-serif;
    }
    
    h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
        margin: 0;
        padding: 0;
    }
    
    ul {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }
    

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-image: url("https://images.gamebanana.com/img/ss/mods/58077d0a8ebca.jpg");
    background-size: cover;
    body.dark &{
        background-image: url("./new-img/fondo.jpg");
    };

}
    aside{
        padding: 2rem;
        padding-right: 0;
        color: var(--clr-white);
        position: sticky;
        top: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    };

    header{
        display: flex;
        align-items: center;
        img{
            width: 50px;
        }
    };
    .logo{
        font-weight: 400;
        font-size: 1.3rem;
    };
    .menu{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    };
    .boton-menu{
        background-color: transparent;
        border: 0;
        color: var(--clr-white);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 600;
        padding: 1rem;
        font-size: .85rem;
        width: 100%;
        text-decoration: none;
    };

    .boton-menu:hover{
        background-color: transparent;
        border: 0;
        color: var(--clr-white);
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 600;
        padding: 1rem;
        font-size: .85rem;
        width: 100%;
        text-decoration: none;
    };
    .boton-menu.active{
        background-color: rgba(245, 245, 245, 0.418);
        color: rgb(0, 0, 0);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        position: relative;
        body.dark &{
            background-color: rgba(245, 245, 245, 0.158)
        }
    };
    .boton-menu.active::before {
        content: '';
        position: absolute;
        width: 1rem;
        height: 2rem;
        bottom: 100%;
        right: 0;
        background-color: transparent;
        border-bottom-right-radius: .5rem;
        box-shadow: 0 1rem 0 var(--clr-white);
    };
    .boton-menu.active::after {
        content: '';
        position: absolute;
        width: 1rem;
        height: 2rem;
        top: 100%;
        right: 0;
        background-color: transparent;
        border-top-right-radius: .5rem;
        box-shadow: 0 -1rem 0 var(--clr-white);
    };
    .boton-menu > i.bi-hand-index-thumb-fill,
    .boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
    };
    .boton-carrito {
        margin-top: 2rem;
    };
    .numeroCarrito {
        background-color: white;
        color: black;
        padding: .15rem .25rem;
        border-radius: .25rem;
    };
    .boton-carrito.active .numeroCarrito {
        background-color: var(--clr-main);
        color: var(--clr-white);
    };
    main {
        background-color: rgba(245, 245, 245, 0.404);
        margin: 1rem;
        margin-left: 0;
        border-radius: 2rem;
        padding: 3rem;
        body.dark &{
            background: #1b1c2070;
        }
    };
    .titulo-principal {
        color: var(--clr-red);
        margin-bottom: 2rem;
        body.dark &{
            color: white
        }
    };
    .contenedor-productos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    };
    .producto-imagen {
        max-width: 100%;
        border-radius: 1rem;
    };
    .producto-detalles {
        background-color: #b93534;
        color: var(--clr-white);
        padding: .5rem;
        border-radius: 1rem;
        margin-top: -2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: .25rem;
        body.dark &{
            background-color:#343d5b;
        }
    };
    .producto-titulo {
        font-size: 1rem;
    };
    .agregar-carro {
        border: 0;
        background-color: var(--clr-white);
        color: black;
        padding: .4rem;
        text-transform: uppercase;
        border-radius: 2rem;
        cursor: pointer;
        border: 2px solid var(--clr-white);
        transition: background-color .2s, color .2s;
    };
    .agregar-carro:hover {
        background: linear-gradient( 150deg, #BA0C2F 0%, #BA0C2F 48%, #262122 45%, #262122 40%, #FFF 52%, #FFF 100%);
        transition: all 0.2s;
        color: rgb(0, 0, 0);
        font-size: 15px;
        font-weight: 30px;
        font-style: bold ;
    };
    .contenedor-carrito {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    };
    .carrito-vacio,
    .carrito-comprado {
        color: var(--clr-red);
        font-style: bold;
        body.dark &{
            color: white;
        }
    };
    .carrito-productos {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    };
    .carrito-producto {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(245, 245, 245, 0.466);
        color: black;
        padding: .5rem;
        padding-right: 1.5rem;
        border-radius: 1rem;
        body.dark & {
            background-color: #343d5b9d;
            color: white    
        }
    };
    .carrito-producto-imagen {
        width: 4rem;
        border-radius: 1rem;
    };
    .carrito-producto small {
        font-size: .75rem;
    };
    .carrito-producto-eliminar {
        border: 0;
        background-color: transparent;
        color: var(--clr-red);
        cursor: pointer;
    };
    .carrito-acciones {
        display: flex;
        justify-content: space-between;
    };
    .carrito-acciones-vaciar {
        border: 0;
        background-color: rgba(245, 245, 245, 0.466);
        padding: 1rem;
        border-radius: 1rem;
        color: black;
        text-transform: uppercase;
        cursor: pointer;
        body.dark &{
            background-color: #343d5b9d;
            color: white
        }
    };
    .carrito-acciones-derecha {
        display: flex;
    };
    .carrito-acciones-total {
        display: flex;
        background-color:rgba(245, 245, 245, 0.247);
        padding: 1rem;
        color: black;
        font-style: bold;
        text-transform: uppercase;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        gap: 1rem;
        body.dark & {
            background-color: #343d5b79;
            color: white
        }
    };
    .carrito-acciones-comprar {
        border: 0;
        background: linear-gradient(150deg, #BA0C2F 0%, #BA0C2F 48%, #262122 45%, #262122 40%, #FFF 52%, #FFF 100%);
        padding: 1rem;
        color: black;
        font-style: bold;
        text-transform: uppercase;
        cursor: pointer;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    };   
    .disabled {
        display: none;
    };
    .switch {
        background: #343d5b8a;
        border: none;
        border-radius: 1000px;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        img{
            width: 30px;
            height: 30px;
        }
        &::after {
            content: "";
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            background: #f1f1f1;
            top: 0;
            left: 0;
            right: unset;
            border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    }
    &.active{
        background: rgba(187, 134, 36, 0.514);
        color: black;
        &::after{
            right: 0;
            left: unset;
        }
    }
    span {
        width: 30px;
        height: 30px;
        line-height:30px;
        background:none;
        color: #fff;
    }
}

.contact{
    .col-lg-12{
        color: var(--clr-red);
    }
}
.map h2{
    color: var(--clr-red);
}
